body {
    background-color: bisque;
h1{
    color: red;
    font-family: serif;
}
h2{
    color: red;
    font-family: serif;
}
p{
    color: red;
    font-family: serif;
}
ul{
    background-color: chartreuse;
}
li{
    color: blue;
}
q{
    font-family: fantasy;
}
}